<template>
  <div id="horses-list">
    <header>
      <div class="title-bar rw">
        <div class="cl-4">
          <div class="title-bar__main-group">
            <h1 class="title-bar__title">Horses</h1>
          </div>
        </div>
      </div>
      <div class="tabs-bar">
        <tabs :tabList="tabs.list" :on-tab-change="tabChange" v-model="tabs.active"></tabs>
        <div class="tab-ctas">
          <div class="filter-cta" id="filter-form">
            <div class="button" @click="filter.open = !filter.open">
              <span class="txt">Filter</span>
              <span class="icon-cnt">
                <svg>
                  <use href="#filter"/>
                </svg>
              </span>
              <div class="count" :class="{hidden: !filter.active.length}">{{ filter.active.length }}</div>
            </div>
            <div class="opts" :class="{open: filter.open}">
              <div class="filters">
                <!--List of applied filters-->
              </div>
              <form @submit.prevent>
                <div class="form-group">
                  <!--                  <label for="filter-by">Filter By</label>-->
                  <!--                  <re-select id="filter-by" :onChange="byChange" :options="filter.opts.horses"></re-select>-->
                </div>
                <!--                <div class="form-group">-->
                <!--                  <label for="operator">Operators</label>-->
                <!--                  <input type="radio" name="operator">-->
                <!--                </div>-->
                <div class="form-group">
                  <label for="value">Value</label>
                  <input type="text" id="value" v-model="filter.form.value">
                </div>
                <div class="rw between-xs">
                  <div class="cl-5">
                    <button>
                      Search
                      <span class="icon-cnt">
                        <svg>
                          <use href="#filter"/>
                        </svg>
                      </span>
                    </button>
                  </div>
                  <div class="cl-5">
                    <button>
                      Clear
                      <span class="icon-cnt">
                        <svg>
                          <use href="#cancel"/>
                        </svg>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="action-cta">
            <router-link :to="{name: 'horses.new'}" class="button">
              <svg>
                <use href="#plus"/>
              </svg>
            </router-link>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Tabs from '@/components/blocks/tabs';
import FilterMixin from '@/utils/filter.mixin';
import DropListMixin from '@/utils/drop-list.mixin';
import ReSelect from '@/components/blocks/re-select';

export default {
  name: 'horses-list',
  components: {Tabs, ReSelect},
  mixins: [FilterMixin, DropListMixin],
  data() {
    return {
      tabs: {
        list: [
          {label: 'ALL', v: 'ALL'},
          {label: 'ACTIVE', v: true},
          {label: 'INACTIVE', v: false}
        ],
        active: {label: 'ALL'}
      }
    };
  },
  beforeCreate() {
    this.$store.dispatch('horses/fetchAll');
  },
  computed: mapGetters({
    users: 'horses/list'
  }),
  methods: {
    tabChange(tab) {
      this.$store.dispatch('horses/globFilter', {value: tab.v});
    },
    open(id) {
      this.$router.push({name: 'horses.view', params: {id}});
    }
  }
};
</script>

<style lang="scss">
#horses-list {
  table td, table th {
    &.name {
      max-width: 240px;
      width: 240px;
    }

    &.status, &.created {
      max-width: 160px;
      width: 160px;
    }
  }
}
</style>
