<template>
  <form @submit.prevent="join" id="join">
    <div class="form-group btn">
      <button class="inv caps" type="submit" :disabled="processing">
        {{isValid? 'Join' : 'Invalid / Expired Invitation'}}
      </button>
    </div>
    <div class="rw center-xs">
      <div class="cl-8">
        <div class="actions">
          <router-link :to="{name: 'home'}">Back Home</router-link>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
  export default {
    name: 'join',
    props: ['slug', 'inkey'],
    created() {
      if (this.$store.state.auth.isAuthed) {
        this.$store.dispatch('ui/setInvState', 'Validating your invitation');

        // replace with the module handling invitation handling
        this.$store.dispatch('stead/validateInvite', {
          slug: this.slug,
          key: this.inkey
        }).then(group => {
          this.processing = false;
          if (typeof group !== 'boolean' && group) {
            this.group = group;
            this.isValid = true;
            return this.$store.dispatch('ui/setInvState', `Welcome to the ${group.name} Group`);
          }
          this.$store.dispatch('ui/setInvState', 'Invalid / Expired Invitation');
        });
      } else {
        this.$router.push({name: 'auth.sign-up', query: {t: 'inv', g: this.slug, k: this.inkey}});
      }
    },
    data() {
      return {
        processing: true,
        isValid: false,
        group: {}
      };
    },
    methods: {
      join() {
        if (this.isValid) {
          this.processing = true;
          this.$store.dispatch('stead/join', {
            key: this.inkey,
            slug: this.slug
          }).then(() => {
            this.processing = false;
            this.$router.replace({name: 'stead.view', params: {slug: this.slug}});
          }).catch(this.errorHandler);
        }
      }
    }
  };
</script>

<style lang="scss">
  @import "../../assets/styles/variables";

  #join {
  }
</style>
