<template>
  <form @submit.prevent="reset" id="reset">
    <div class="desc">Enter your email address and we'll send you an email with a link to reset your password.</div>

    <div class="form-group">
      <label for="email-reset">Email</label>
      <input aria-label="email" v-model="address" v-validate="'required|email'" name="email"
             autocomplete="current-email" required
             type="email" id="email-reset" placeholder="Email">
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
    <div class="actions">
      <router-link :to="{name: 'auth.sign-in'}">Sign In</router-link>
    </div>
  </form>
</template>

<script>
  export default {
    name: 'reset-password',
    data() {
      return {
        address: '',
        resetSent: false
      };
    },
    methods: {
      reset() {
        this.$store.dispatch('resetPassword', this.address)
          .then(() => {
            this.resetSent = true;
          })
          .catch(this.errorHandler);
      }
    }
  };
</script>

