<template>
  <div class="">

  </div>
</template>

<script>
  export default {
    name: 'validate',
    props: ['token'],
    created() {
      // pass token over to store for validation
    }
  };
</script>

<style lang="scss">

</style>
