<template>
  <div class="re-select" :class="dropdownClasses">
    <div ref="toggle" @mousedown.prevent="toggleDropdown" class="dropdown-toggle">
      <div class="rs__selected-options" ref="selectedOptions">
        <div class="rs__search-icon">
          <span>
            <svg>
            <use href="#search"/>
          </svg>
          </span>
        </div>
        <slot v-for="option in valueAsArray" name="selected-option-container"
              :option="(typeof option === 'object')? option:{[label]: option}" :deselect="deselect" :multiple="multiple"
              :disabled="disabled">
          <span class="selected-tag" :key="option.index">
            <span class="selected-icon" v-if="colorKey" :style="{backgroundColor: getOptionColor(option)}"></span>
            <span class="selected-option" v-bind="(typeof option === 'object')?option:{[label]: option}">
              {{ getOptionLabel(option) }}
            </span>
            <button v-if="multiple" :disabled="disabled" @click="deselect(option)" type="button" class="close"
                    aria-label="Remove option">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
        </slot>
        <input ref="search"
               v-model="search"
               :class="{'cs-exists': commaSplit && valueAsArray.length}"
               @keydown.delete="maybeDeleteValue"
               @keyup.esc="onEscape"
               @keyup="typeAheadPress"
               @keydown.up.prevent="typeAheadUp"
               @keydown.down.prevent="typeAheadDown"
               @keydown.enter.prevent="typeAheadSelect"
               @keydown.tab="onTab"
               @blur="onSearchBlur"
               @focus="onSearchFocus"
               :type="isEmail? 'email': 'search'"
               autocomplete="off"
               :disabled="disabled"
               :placeholder="searchPlaceholder"
               :tabindex="tabindex"
               :readonly="!searchable"
               :id="id"
               role="combobox">
      </div>
      <div class="rs__actions">
        <!--        <button-->
        <!--            v-show="showClearButton"-->
        <!--            :disabled="disabled"-->
        <!--            @click="clearSelection"-->
        <!--            type="button"-->
        <!--            class="clear"-->
        <!--            title="Clear selection">-->
        <!--          <span aria-hidden="true">-->
        <!--            &times;-->
        <!--          </span>-->
        <!--        </button>-->
        <span class="open-indicator" role="presentation" ref="openIndicator">
          <svg><use href="#menu"/></svg>
        </span>
        <!--        <i v-if="!noDrop" ref="openIndicator" role="presentation" class="open-indicator"></i>-->
        <!--        <slot name="spinner">-->
        <!--          <div class="spinner" v-show="mutableLoading">Loading...</div>-->
        <!--        </slot>-->
      </div>
    </div>
    <transition name="fade">
      <ul ref="dropdownMenu" v-if="dropdownOpen && !commaSplit" class="dropdown-menu" role="listbox"
          @mousedown="onMousedown">
        <li role="option" v-for="(option, index) in filteredOptions" v-bind:key="index"
            :class="{ active: isOptionSelected(option), highlight: index === typeAheadPointer }"
            @mouseover="typeAheadPointer = index">
          <a @mousedown.prevent.stop="select(option)">
            <slot name="option" v-bind="(typeof option === 'object')?option:{[label]: option}">
              {{ getOptionLabel(option) }}
            </slot>
          </a>
        </li>
        <li v-if="!filteredOptions.length" class="no-options" @mousedown.stop="">
           <slot name="no-options">{{ noOptsPlaceholder }}</slot>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
import pointerScroll from './mixins/pointerScroll';
import typeAheadPointer from './mixins/typeAheadPointer';

export default {
  name: 're-select',
  mixins: [pointerScroll, typeAheadPointer],
  props: {
    sm : {
      type: Boolean,
      default: false
    },

    /**
     * Contains the currently selected value. Very similar to a
     * `value` attribute on an <input>. You can listen for changes
     * using 'change' event using v-on
     * @type {Object||String||null}
     */
    value: {
      default: null
    },

    sicon: {
      type: Boolean,
      default: false
    },

    exp: {
      type: Boolean,
      default: false
    },

    isEmail: {
      type: Boolean,
      default: false
    },

    isPhone: {
      type: Boolean,
      default: false
    },

    commaSplit: {
      type: Boolean,
      default: false
    },

    keyedList: {
      type: Boolean,
      default: false
    },

    keyedLists: {
      type: Object,
      default: () => ({})
    },

    valueKey: {
      type: String
    },

    noBorder: {
      type: Boolean,
      default: false
    },

    noOptsPlaceholder: {
      type: String,
      default: 'Sorry, no matching results.'
    },

    colorKey: {
      type: String
    },
    /**
     * An array of strings or objects to be used as dropdown choices.
     * If you are using an array of objects, re-select will look for
     * a `label` key (ex. [{label: 'This is Foo', value: 'foo'}]). A
     * custom label key can be set with the `label` prop.
     * @type {Array}
     */
    options: {
      type: Array,
      default: () => ([])
    },

    /**
     * Disable the entire component.
     * @type {Boolean}
     */
    disabled: {
      type: Boolean,
      default: false
    },

    /**
     * Can the user clear the selected property.
     * @type {Boolean}
     */
    clearable: {
      type: Boolean,
      default: true
    },

    /**
     * Enable/disable filtering the options.
     * @type {Boolean}
     */
    searchable: {
      type: Boolean,
      default: false
    },

    /**
     * Equivalent to the `multiple` attribute on a `<select>` input.
     * @type {Boolean}
     */
    multiple: {
      type: Boolean,
      default: false
    },

    /**
     * Equivalent to the `placeholder` attribute on an `<input>`.
     * @type {String}
     */
    placeholder: {
      type: String,
      default: ''
    },

    /**
     * Tells re-select what key to use when generating option
     * labels when each `option` is an object.
     * @type {String}
     */
    label: {
      type: String,
      default: 'label'
    },

    /**
     * Tells re-select what key to use when generating option
     * values when each `option` is an object.
     * @type {String}
     */
    index: {
      type: String,
      default: null
    },

    /**
     * Callback to generate the label text. If {option}
     * is an object, returns option[this.label] by default.
     *
     * Label text is used for filtering comparison and
     * displaying. If you only need to adjust the
     * display, you should use the `option` and
     * `selected-option` slots.
     *
     * @type {Function}
     * @param  {Object || String} option
     * @return {String}
     */
    getOptionLabel: {
      type: Function,
      default(option) {
        if (this.index) {
          option = this.findOptionByIndexValue(option);
        }

        if (typeof option === 'object') {
          if (!option.hasOwnProperty(this.label)) {
            return console.warn(
                `[re-select warn]: Label key "option.${this.label}" does not` +
                ` exist in options object ${JSON.stringify(option)}.`
            );
          }
          return option[this.label];
        } else if ((typeof option === 'string' && this.valueKey) && this.label) {
          const opt = this.options.find(x => x[this.valueKey] === option);
          if (opt) return opt[this.label];
        }
        return option;
      }
    },

    getOptionColor: {
      type: Function,
      default(option) {
        const key = this.colorKey;
        if (typeof option === 'object') {
          return option[key];
        } else if (typeof option === 'string' && this.valueKey) {
          const opt = this.options.find(x => x[this.valueKey] === option);
          return opt[key];
        }
      }
    },

    /**
     * An optional callback function that is called each time the selected
     * value(s) change. When integrating with Vuex, use this callback to trigger
     * an action, rather than using :value.sync to retreive the selected value.
     * @type {Function}
     * @param {Object || String} val
     */
    onChange: {
      type: Function,
      default: function (val) {
        this.$emit('input', val);
      }
    },

    /**
     * Select the current value if selectOnTab is enabled
     */
    onTab: {
      type: Function,
      default: function () {
        if (this.selectOnTab) {
          this.typeAheadSelect();
        }
      }
    },

    /**
     * Enable/disable creating options from searchInput.
     * @type {Boolean}
     */
    taggable: {
      type: Boolean,
      default: false
    },

    /**
     * Set the tabindex for the input field.
     * @type {Number}
     */
    tabindex: {
      type: Number,
      default: null
    },

    /**
     * When true, newly created tags will be added to
     * the options list.
     * @type {Boolean}
     */
    pushTags: {
      type: Boolean,
      default: false
    },

    /**
     * When true, existing options will be filtered
     * by the search text. Should not be used in conjunction
     * with taggable.
     * @type {Boolean}
     */
    filterable: {
      type: Boolean,
      default: true
    },

    /**
     * Callback to determine if the provided option should
     * match the current search text. Used to determine
     * if the option should be displayed.
     * @type   {Function}
     * @param  {Object || String} option
     * @param  {String} label
     * @param  {String} search
     * @return {Boolean}
     */
    filterBy: {
      type: Function,
      default(option, label, search) {
        return (label || '').toLowerCase().indexOf(search.toLowerCase()) > -1;
      }
    },

    /**
     * Callback to filter results when search text
     * is provided. Default implementation loops
     * each option, and returns the result of
     * this.filterBy.
     * @type   {Function}
     * @param  {Array} list of options
     * @param  {String} search text
     * @param  {Object} vSelect instance
     * @return {Boolean}
     */
    filter: {
      type: Function,
      default(options, search) {
        return options.filter((option) => {
          let label = this.getOptionLabel(option);
          if (typeof label === 'number') {
            label = label.toString();
          }
          if (this.keyedList) {
            search = search.replace(this.currentKey, '');
          }
          return this.filterBy(option, label, search);
        });
      }
    },

    /**
     * User defined function for adding Options
     * @type {Function}
     */
    createOption: {
      type: Function,
      default(newOption) {
        if (typeof this.mutableOptions[0] === 'object') {
          newOption = {[this.label]: newOption};
        }
        this.$emit('option:created', newOption);
        return newOption;
      }
    },

    /**
     * When false, updating the options will not reset the select value
     * @type {Boolean}
     */
    resetOnOptionsChange: {
      type: Boolean,
      default: false
    },

    /**
     * Disable the dropdown entirely.
     * @type {Boolean}
     */
    noDrop: {
      type: Boolean,
      default: false
    },

    /**
     * Sets the id of the input element.
     * @type {String}
     * @default {null}
     */
    id: {
      type: String
    },

    /**
     * When true, hitting the 'tab' key will select the current select value
     * @type {Boolean}
     */
    selectOnTab: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      search: '',
      open: false,
      currentKey: '',
      mutableValue: null,
      mutableOptions: []
    };
  },
  watch: {
    /**
     * When the value prop changes, update
     * the internal mutableValue.
     * @param  {any} val
     * @return {void}
     */
    value(val) {
      this.mutableValue = val;
    },

    /**
     * Maybe run the onChange callback.
     * @param  {string|object} val
     * @param  {string|object} old
     * @return {void}
     */
    mutableValue(val, old) {
      const key = this.valueKey;
      const inVal = key && typeof val === 'object' ? val[key] : val;
      if (this.multiple) {
        this.onChange ? this.onChange(inVal) : null;
      } else {
        this.onChange && inVal !== old ? this.onChange(inVal) : null;
      }
    },

    /**
     * When options change, update
     * the internal mutableOptions.
     * @param  {array} val
     * @return {void}
     */
    options(val) {
      this.mutableOptions = val;
    },

    /**
     * Maybe reset the mutableValue
     * when mutableOptions change.
     * @return {[type]} [description]
     */
    mutableOptions() {
      if (!this.taggable && this.resetOnOptionsChange) {
        this.mutableValue = this.multiple ? [] : null;
      }
    },

    /**
     * Always reset the mutableValue when
     * the multiple prop changes.
     * @param  {Boolean} val
     * @return {void}
     */
    multiple(val) {
      this.mutableValue = val ? [] : null;
    }
  },
  created() {
    this.initOptions(this.options);
  },
  mounted() {
    if (!this.value && this.mutableOptions.length && !this.searchable) {
      // Let the first be the default but not during search
      this.mutableValue = this.mutableOptions[0];
    }
  },
  methods: {
    initOptions(options) {
      /**
       * Clone props into mutable values,
       * attach any event listeners.
       */
      this.mutableValue = this.value;
      // TODO: Review: The user is to perform the result filtering, not the module
      // Prevents duplicate searchable items
      if (this.searchable) {
        const label = this.label;
        const tempF = [];
        this.mutableOptions = options.slice(0).filter(x => {
          const found = tempF.findIndex(y => y[label] === x[label]);
          if (found === -1) {
            tempF.push(x);
            return x;
          }
        }).filter(Boolean);
      } else this.mutableOptions = options.slice(0);

      this.mutableLoading = this.loading;
      this.$on('option:created', this.maybePushTag);
    },
    select(option) {
      if (option && !this.isOptionSelected(option)) {
        if (this.taggable && !this.optionExists(option)) {
          option = this.createOption(option);
        }
        if (this.index) {
          if (!option.hasOwnProperty(this.index)) {
            return console.warn(
                `[re-select warn]: Index key "option.${this.index}" does not
                 exist in options object ${JSON.stringify(option)}.`
            );
          }
          option = option[this.index];
        }
        if (this.multiple && !this.mutableValue) {
          this.mutableValue = [option];
        } else if (this.multiple) {
          this.mutableValue.push(option);
        } else {
          this.mutableValue = option;
        }
      }

      this.onAfterSelect(option);
    },
    deselect(option) {
      if (this.multiple) {
        let ref = -1;
        this.mutableValue.forEach((val) => {
          if (val === option || (this.index && val === option[this.index]) || (typeof val === 'object' && val[this.label] === option[this.label])) {
            ref = val;
          }
        });
        var index = this.mutableValue.indexOf(ref);
        this.mutableValue.splice(index, 1);
      } else {
        this.mutableValue = null;
      }
    },
    clearSelection() {
      this.mutableValue = this.multiple ? [] : null;
    },
    /**
     * Called from this.select after each selection.
     * @param  {Object|String} option
     * @return {void}
     */
    onAfterSelect(option) {
      this.open = !this.open;
      this.$refs.search.blur();
      this.search = '';
    },
    /**
     * Toggle the visibility of the dropdown menu.
     * @param  {Event} e
     * @return {void}
     */
    toggleDropdown(e) {
      if (e.target === this.$refs.openIndicator || e.target === this.$refs.search || e.target === this.$refs.toggle ||
          e.target.classList.contains('selected-tag') || e.target === this.$el) {
        if (this.open) {
          this.$refs.search.blur(); // dropdown will close on blur
        } else {
          if (!this.disabled) {
            this.open = true;
            this.$refs.search.focus();
          }
        }
      }
    },
    /**
     * Check if the given option is currently selected.
     * @param  {Object|String}  option
     * @return {Boolean}        True when selected | False otherwise
     */
    isOptionSelected(option) {
      let selected = false;
      this.valueAsArray.forEach(value => {
        if (typeof value === 'object') {
          selected = this.optionObjectComparator(value, option);
        } else if (value === option || value === option[this.index]) {
          selected = true;
        }
      });
      return selected;
    },

    /**
     * Determine if two option objects are matching.
     *
     * @param value {Object}
     * @param option {Object}
     * @returns {boolean}
     */
    optionObjectComparator(value, option) {
      if (this.valueKey) {
        return option[this.valueKey] === value;
      } else if (this.index && value === option[this.index]) {
        return true;
      } else if ((value[this.label] === option[this.label]) || (value[this.label] === option)) {
        return true;
      } else if (this.index && value[this.index] === option[this.index]) {
        return true;
      }
      return false;
    },

    /**
     * Finds an option from this.options
     * where option[this.index] matches
     * the passed in value.
     *
     * @param value {Object}
     * @returns {*}
     */
    findOptionByIndexValue(value) {
      this.options.forEach(_option => {
        if (JSON.stringify(_option[this.index]) === JSON.stringify(value)) {
          value = _option;
        }
      });
      return value;
    },

    /**
     * If there is any text in the search input, remove it.
     * Otherwise, blur the search input to close the dropdown.
     * @return {void}
     */
    onEscape() {
      if (!this.search.length) {
        this.$refs.search.blur();
      } else {
        this.search = '';
      }
    },

    /**
     * Close the dropdown on blur.
     * @emits  {search:blur}
     * @return {void}
     */
    onSearchBlur() {
      if (this.mousedown && !this.searching) {
        this.mousedown = false;
      } else {
        if (this.clearSearchOnBlur) {
          this.search = '';
        }
        this.open = false;
        this.$emit('search:blur');
      }
    },

    /**
     * Open the dropdown on focus.
     * @emits  {search:focus}
     * @return {void}
     */
    onSearchFocus() {
      this.open = true;
      this.$emit('search:focus');
    },

    /**
     * Delete the value on Delete keypress when there is no
     * text in the search input, & there's tags to delete
     * @return {this.value}
     */
    maybeDeleteValue() {
      if (!this.$refs.search.value.length && this.mutableValue) {
        return this.multiple ? this.mutableValue.pop() : this.mutableValue = null;
      }
    },

    /**
     * Determine if an option exists
     * within this.mutableOptions array.
     *
     * @param  {Object || String} option
     * @return {boolean}
     */
    optionExists(option) {
      let exists = false;

      this.mutableOptions.forEach(opt => {
        if (typeof opt === 'object' && opt[this.label] === option) {
          exists = true;
        } else if (opt === option) {
          exists = true;
        }
      });

      return exists;
    },

    /**
     * If push-tags is true, push the
     * given option to mutableOptions.
     *
     * @param  {Object || String} option
     * @return {void}
     */
    maybePushTag(option) {
      if (this.pushTags) {
        this.mutableOptions.push(option);
      }
    },

    /**
     * Event-Handler to help workaround IE11 (probably fixes 10 as well)
     * firing a `blur` event when clicking
     * the dropdown's scrollbar, causing it
     * to collapse abruptly.
     * @return {void}
     */
    onMousedown() {
      this.mousedown = true;
    }
  },
  computed: {
    dropdownClasses() {
      return {
        sm: this.sm,
        exp: this.exp,
        sicon: this.sicon,
        cs: this.commaSplit,
        'no-b': this.noBorder,
        open: this.dropdownOpen,
        single: !this.multiple,
        searching: this.searching,
        searchable: this.searchable,
        unsearchable: !this.searchable,
        loading: this.mutableLoading,
        disabled: this.disabled
      };
    },

    /**
     * If search text should clear on blur
     * @return {Boolean} True when single and clearSearchOnSelect
     */
    clearSearchOnBlur() {
      return this.clearSearchOnSelect && !this.multiple;
    },

    /**
     * Return the current state of the
     * search input
     * @return {Boolean} True if non empty value
     */
    searching() {
      return !!this.search;
    },

    /**
     * Return the current state of the
     * dropdown menu.
     * @return {Boolean} True if open
     */
    dropdownOpen() {
      return this.noDrop ? false : this.open && !this.mutableLoading;
    },

    /**
     * Return the placeholder string if it's set
     * & there is no value selected.
     * @return {String} Placeholder text
     */
    searchPlaceholder() {
      if (this.isValueEmpty && this.placeholder) {
        return this.placeholder;
      }
    },

    /**
     * The currently displayed options, filtered
     * by the search elements value. If tagging
     * true, the search text will be prepended
     * if it doesn't already exist.
     *
     * @return {array}
     */
    filteredOptions() {
      if (!this.filterable && !this.taggable) {
        return this.mutableOptions.slice();
      }
      let options = this.search.length ? this.filter(this.mutableOptions, this.search, this) : this.mutableOptions;
      if (this.taggable && this.search.length && !this.optionExists(this.search)) {
        options.unshift(this.search);
      }
      return options;
    },

    /**
     * Check if there aren't any options selected.
     * @return {Boolean}
     */
    isValueEmpty() {
      if (this.mutableValue) {
        if (typeof this.mutableValue === 'object') {
          return !Object.keys(this.mutableValue).length;
        }
        return !this.valueAsArray.length;
      }

      return true;
    },

    /**
     * Return the current value in array format.
     * @return {Array}
     */
    valueAsArray() {
      if (this.multiple && this.mutableValue) {
        return this.mutableValue;
      } else if (this.mutableValue) {
        return [].concat(this.mutableValue);
      }

      return [];
    },

    /**
     * Determines if the clear button should be displayed.
     * @return {Boolean}
     */
    showClearButton() {
      return !this.multiple && this.clearable && !this.open && this.mutableValue != null;
    }
  }
};
</script>

<style lang="scss">
@import "../../../assets/styles/variables";

.re-select,
.re-select * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.re-select {
  position: relative;
  font-family: inherit;
  border: $border;
  height: 34px;
  background-color: white;

  &.no-b {
    height: 40px;
    border: none;

    .selected-tag {
      padding-top: 0 !important;
    }
  }

  &.exp {
    height: auto;
  }

  &.sm {
    height: 33px;
  }


  /* Open Indicator */
  .open-indicator {
    display: none;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
    height: 12px;
    width: 12px;
    color: #343434B2;

    svg {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &.sicon .open-indicator {
    display: flex;
  }

  /* Open Indicator States */
  &.open .open-indicator:before {
    /*transform: rotate(315deg);*/
  }

  &.loading .open-indicator {
    opacity: 0;
  }

  /* Dropdown Toggle */
  .dropdown-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    height: 100%;
    background: none;
    border-radius: 4px;
    white-space: normal;
  }

  .rs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 2px;
    position: relative;

    .rs__search-icon {
      display: none;
    }
  }

  &.sicon .rs__selected-options {
    .rs__search-icon {
      display: flex;
      align-items: center;
      padding: 0 0 2px 10px;
      color: #343434B2;

      span {
        width: 12px;
        height: 12px;
      }
    }
  }

  .rs__actions {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
  }

  &.exp .rs__actions {
    display: none;
  }

  /* Clear Button */
  .dropdown-toggle .clear {
    font-size: 23px;
    font-weight: 700;
    line-height: 1;
    color: rgba(60, 60, 60, 0.5);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin-right: 6px;
  }

  /* Dropdown Toggle States */
  &.searchable .dropdown-toggle {
    cursor: text;
  }

  &.unsearchable .dropdown-toggle {
    cursor: pointer;
  }

  &.open .dropdown-toggle {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  /* Dropdown Menu */
  .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: -1px;
    right: 0;
    z-index: 1000;
    min-width: 160px;
    margin: 0 auto;
    width: calc(100% + 2px);
    overflow-y: auto;
    border-top: none;
    border: $border;
    border-radius: 2px 2px 2px 2px;
    text-align: left;
    list-style: none;
    background: #fff;
  }

  .no-options {
    font-size: 11px;
    opacity: 0.8;
    text-align: center;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }

  /* Selected Tags */
  .selected-tag {
    display: flex;
    align-items: center;
    color: #333;
    position: relative;
    font-size: 1em;
    padding: 0 2.2em .1em .6em;
    line-height: 1.42857143;
    margin: 0 4px;
    height: 100%;
    transition: opacity .25s;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      bottom: 0;
      margin: auto;
      height: 72%;
      width: 100%;
      background-color: #f0f0f0;
    }

    .selected-option {
      position: relative;
      z-index: 4;
    }

    .selected-icon {
      display: inline-block;
      height: 7px;
      width: 7px;
      margin-right: .5em;
      border-radius: 50%;
    }
  }

  &.exp .selected-tag {
    height: 36px;
  }

  &.single .selected-tag {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0 2px 0 10px;


    &:before {
      display: none;
    }
  }

  &.single.open .selected-tag {
    opacity: .7;
  }

  &.single.searching .selected-tag {
    display: none;
  }

  .selected-tag .close {
    margin-left: 2px;
    font-size: 1.25em;
    appearance: none;
    position: absolute;
    z-index: 4;
    right: 0;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-weight: 700;
    max-width: 18px;
    height: 100%;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }

  &.single.searching:not(.open):not(.loading) input[type="search"] {
    opacity: .2;
  }

  /* Search Input */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  input[type="search"]::-ms-clear {
    display: none;
  }

  input[type="search"],
  input[type="search"]:focus {
    padding: 0 12px;
    height: 100%;
    margin: -0.8px 0 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 1.42857143;
    font-size: 1em;
    display: inline-block;
    border-left: none;
    outline: none;
    font-family: inherit;
    max-width: 100%;
    background: none;
    box-shadow: none;
    flex-grow: 1;
    width: 0;
  }

  input[type="email"],
  input[type="email"]:focus {
    border: none;
    margin-right: -2px;
    margin-left: -2px;
    width: calc(100% + 4px);
  }

  &.unsearchable input[type="search"] {
    opacity: 0;
  }

  &.unsearchable input[type="search"]:hover {
    cursor: pointer;
  }

  &.exp input[type="search"] {
    height: 36px;
  }

  /* List Items */
  li {
    line-height: 1.42857143;
  }

  li > a {
    display: flex;
    align-items: center;
    //justify-content: center;
    padding: 0 16px;
    height: 30px;
    font-size: 1em;
    clear: both;
    color: #333;
    white-space: nowrap;
  }

  li:hover {
    cursor: pointer;
  }

  .dropdown-menu .active > a {
    color: #333;
    background: rgba(50, 50, 50, .1);
  }

  .dropdown-menu > .highlight > a {
    background: rgba(50, 50, 50, .2);
    color: #333;
  }

  .highlight:not(:last-child) {
    margin-bottom: 0;
  }

  /* Comma select mode */
  &.cs {
    input[type="search"].cs-exists {
      padding-left: .4em !important;
    }
  }

  /* Loading Spinner */
  .spinner {
    align-self: center;
    opacity: 0;
    font-size: 5px;
    text-indent: -9999em;
    overflow: hidden;
    border-top: .9em solid rgba(100, 100, 100, .1);
    border-right: .9em solid rgba(100, 100, 100, .1);
    border-bottom: .9em solid rgba(100, 100, 100, .1);
    border-left: .9em solid rgba(60, 60, 60, .45);
    transform: translateZ(0);
    animation: vSelectSpinner 1.1s infinite linear;
    transition: opacity .1s;
  }

  .spinner,
  .spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
  }

  /* Disabled state */
  &.disabled .dropdown-toggle,
  &.disabled .dropdown-toggle .clear,
  &.disabled .dropdown-toggle input,
  &.disabled .selected-tag .close,
  &.disabled .open-indicator {
    cursor: not-allowed;
    background-color: rgb(248, 248, 248);
  }

  /* Loading Spinner States */
  &.loading .spinner {
    opacity: 1;
  }

  /* KeyFrames */
  @-webkit-keyframes vSelectSpinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes vSelectSpinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Dropdown Default Transition */
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}

body.todo-drk {
  .re-select {
    background-color: $background-alt-clr-drk;

    .selected-tag {
      color: $text-main-drk;

      &:before {
        background-color: $background-clr-drk;
      }

      .close {
        color: $text-alt-drk;
        text-shadow: none;
        opacity: .6;
        line-height: .6;
      }
    }

    .dropdown-menu {
      background-color: $background-alt-clr-drk;
    }

    li > a {
      color: $text-main-drk;
    }

    .dropdown-menu .active > a {
      color: $background-clr-drk;
      background-color: $primary;
    }

    .dropdown-menu > .highlight > a {
      background: $primary-light;
      color: $background-clr-drk;
    }

    &.sicon .rs__selected-options .rs__search-icon {
      color: $text-alt-drk;
    }

    .open-indicator {
      color: $text-alt-drk;
    }

    input {
      color: $text-main-drk;

      &::placeholder {
        color: rgba(248, 249, 250, 0.6);
      }
    }
  }
}
</style>
