<template>
  <div class="filter-cta" :id="`flt-${elId}`">
    <div class="button" @click="filter.open = !filter.open">
      <span class="txt">Filter</span>
      <span class="icon-cnt">
        <svg>
          <use href="#filter"/>
        </svg>
      </span>
      <div class="count" :class="{hidden: !filter.active.length}">{{ filter.active.length }}</div>
    </div>
    <div class="opts" :class="{open: filter.open}">
      <div class="filters">
        <!--List of applied filters-->
      </div>
      <form @submit.prevent>
        <div class="form-group">
          <!--suppress XmlInvalidId -->
          <label for="filter-by">Filter By</label>
          <re-select id="filter-by" :onChange="byChange" :options="filter.opts[group]"></re-select>
        </div>
        <!--<div class="form-group">-->
        <!--  <label for="operator">Operators</label>-->
        <!--  <input type="radio" name="operator">-->
        <!--</div>-->
        <div class="form-group">
          <label for="value">Value</label>
          <input type="text" id="value" v-model="filter.form.value">
        </div>
        <div class="rw between-xs">
          <div class="cl-5">
            <button>
              Search
              <span class="icon-cnt">
                        <svg>
                          <use href="#filter"/>
                        </svg>
                      </span>
            </button>
          </div>
          <div class="cl-5">
            <button>
              Clear
              <span class="icon-cnt">
                        <svg>
                          <use href="#cancel"/>
                        </svg>
                      </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import FilterMixin from '@/utils/filter.mixin';
import ReSelect from '@/components/blocks/re-select/index';

export default {
  name: 'filter-cta',
  props: {
    group: {
      type: String,
      required: true,
      default: 'flows'
    }
  },
  components: {ReSelect},
  mixins: [FilterMixin]
};
</script>

<style lang="scss">
.filter-cta {

}
</style>
