<template>
  <div ref="box" class="imi">
    <label :for="readonly ? '' : inputId" class="imi-label"></label>

    <div class="imi-link" :class="{open: linkForm.open}">
      <label :for="`img-link-${id}`">Link <span @click="closeLinkForm">
        <svg><use href="#cancel"/></svg></span>
      </label>
      <input type="text" :id="`img-link-${id}`" :name="`img_link_${id}`"
             v-validate="{url: {require_valid_protocol: true, protocols: ['http','https'] }}"
             v-model="linkForm.value" placeholder="http://remote.site.example/img/sapmle.png">
    </div>

    <div class="imi-preview">
      <!--      <div v-if="imgSelected" class="imi__preview-box" :style="{backgroundImage: `url('${preview}')`}"></div>-->
      <div class="imi-inputs">
        <input
            v-if="capture"
            ref="input"
            :name="name"
            :id="inputId"
            :accept="accept"
            type="file"
            capture="video"
            class="imi__input"
            @change="handleFileChange"/>
        <input
            v-else
            ref="input"
            :name="name"
            :id="inputId"
            :accept="accept"
            type="file"
            class="imi__input"
            @change="handleFileChange"/>
      </div>
    </div>

    <div class="imi-detail">
      <div v-if="errText.length" class="imi__err">
        <span>{{ errText }}</span>
      </div>
      <template v-else>
        <template v-if="imgSelected">
          <p class="imi__ttl">{{ fileName }}</p>
          <p class="imi__size">{{ fileSize }}</p>
        </template>
        <template v-else-if="(value || {}).fileName">
          <p class="imi__ttl">{{ value.fileName }}</p>
          <p class="imi__size">{{ fileSize }}</p>
        </template>
        <template v-else>
          <p class="imi__ttl">{{ placeholder }}</p>
          <p class="imi__size">{{ maxFileSize }} Limit</p>
        </template>
      </template>
    </div>

    <div class="imi-actions">
      <div @click="deleteImage" class="imi__delete">
        <svg>
          <use xlink:href="#cancel"/>
        </svg>
      </div>
      <!--<div @click="linkForm.open = true" class="imi__link-open">-->
      <div class="imi__link-open">
        <svg>
          <use xlink:href="#link"/>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'imi',
  props: {
    type: {
      default: 'img',
      type: String
    },
    preExistingLink: {
      type: String
    },
    accept: {
      default: 'image/*,video/*;',
      type: String
    },
    capture: {
      type: Boolean,
      default: true
    },
    id: {
      type: String
    },
    onChange: {
      type: Function,
      default: null
    },
    readonly: {
      type: Boolean,
      default: false
    },
    placeholder: {
      default: 'Click / Drop an image here',
      type: String
    },
    value: {
      default: null
    },
    maxSize: {
      default: 5242880,
      type: Number
    },
    size: {
      default: '',
      type: String
    },
    imgSrc: {
      default: '',
      type: String
    },
    noMask: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: 'file'
    }
  },
  data() {
    return {
      linkForm: {
        open: false,
        regex: new RegExp(/https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_+.~#?&/=]*)/),
        value: null
      },
      inputId: '',
      file: [],
      dataUrl: '',
      fileName: '',
      errText: ''
    };
  },
  computed: {
    preview() {
      if (this.dataUrl) {
        return this.dataUrl;
      }

      const lF = this.linkForm;
      if (lF.value && lF.value.match(lF.regex)) {
        return lF.value;
      }

      return '';
    },
    imgSelected() {
      return !!this.dataUrl || !!this.fileName || !!this.linkForm.value;
    },
    fileNameC() {
      if (this.imgSelected) {
        return this.fileName;
      } else {
        return (this.value || {}).fileName;
      }
    },
    fileSize() {
      if (this.imgSelected) {
        return this.calculateHumanSize(this.file.size);
      } else {
        if ((this.value || {}).fileSize) return this.calculateHumanSize(this.value.fileSize);
        return null;
      }
    },
    maxFileSize() {
      return this.calculateHumanSize(this.maxSize);
    }
  },
  watch: {
    'linkForm.value'(value) {
      if (value && value.match(this.linkForm.regex)) {
        this.deleteImage();
        this.$emit('input', value);
      } else {
        this.$emit('input', null);
        this.$emit('deleted', this.id);
      }
    },
    imgSrc(newval) {
      this.dataUrl = newval;
      if (!newval) {
        this.file = [];
        this.errText = '';
        this.fileName = '';
      }
    },
    value(newval, oldval) {
      if (typeof oldval !== 'string' && oldval && !newval) {
        this.file = [];
        this.dataUrl = '';
        this.errText = '';
        this.fileName = '';
      }
    }
  },
  mounted() {
    this.inputId = this.id || this.gengerateID();
    if (this.imgSrc) {
      this.dataUrl = this.imgSrc;
    }

    if (this.value instanceof File) {
      this.file = this.value;
      this.fileName = this.file.name;
    }
    // Prevent browser default drag-and-drop event
    ['dragleave', 'drop', 'dragenter', 'dragover'].forEach(e => this.preventDefaultEvent(e));
    // Bound drag time
    this.addDropSupport();
  },
  methods: {
    closeLinkForm() {
      this.linkForm.value = null;
      this.linkForm.open = false;
    },
    calculateHumanSize(bytes) {
      if (bytes === 0) {
        return '0.00 B';
      }
      var e = Math.floor(Math.log(bytes) / Math.log(1024));
      return (bytes / Math.pow(1024, e)).toFixed(2) + ' ' + ' KMG'.charAt(e) + 'B';
    },
    deleteImage() {
      this.file = [];
      this.dataUrl = '';
      this.fileName = '';
      this.errText = '';
      this.$emit('input', null);
      this.$emit('deleted', this.id);
    },
    preventDefaultEvent(eventName) {
      document.addEventListener(eventName, e => e.preventDefault(), false);
    },
    addDropSupport() {
      let BOX = this.$refs.box;

      BOX.addEventListener('drop', e => {
        e.preventDefault();
        if (this.readonly) return false;
        this.errText = '';
        let fileList = e.dataTransfer.files;

        if (fileList.length === 0) {
          return false;
        }

        if (fileList.length > 1) {
          this.errText = 'No support for multiple files';
          return false;
        }

        this.handleFileChange(fileList);
      });
    },
    gengerateID() {
      let nonstr = Math.random()
          .toString(36)
          .substring(3, 8);
      if (!document.getElementById(nonstr)) {
        return nonstr;
      } else {
        return this.gengerateID();
      }
    },
    handleFileChange(e) {
      if (typeof e.target === 'undefined') this.file = e[0];
      else this.file = e.target.files[0];

      this.errText = '';
      let size = Math.floor(this.file.size / 1024);
      if (size > this.maxSize) {
        this.errText = `File size can not exceed: ${this.maxFileSize}`;
        return false;
      }

      let reader = new FileReader();
      const scope = this;
      reader.readAsDataURL(this.file);
      const _file = this.file;
      reader.onload = function () {
        _file.dataUrl = this.result;
        scope.closeLinkForm();

        // Bidirectional binding
        scope.$emit('input', scope.file);

        // File selection callback && two binding methods
        scope.onChange && scope.onChange(scope.file, scope.file.name);
        scope.$emit('onChange', scope.file, scope.file.name);

        scope.imgPreview(scope.file);

        scope.fileName = scope.file.name;

        scope.resetInput();
      };
    },
    imgPreview(file) {
      let self = this;

      if (!file || !window.FileReader) return;

      if (/^image/.test(file.type)) {
        let reader = new FileReader();
        reader.readAsDataURL(file);

        reader.onloadend = function () {
          self.dataUrl = this.result;
        };
      }
    },
    resetInput() {
      let input = document.getElementById(this.inputId);
      let form = document.createElement('form');

      document.body.appendChild(form);

      let parentNode = input.parentNode;
      let isLastNode = parentNode.lastChild === input;
      let nextSibling;

      if (!isLastNode) {
        nextSibling = input.nextSibling;
      }

      form.appendChild(input);
      form.reset();

      isLastNode
          ? parentNode.appendChild(input)
          : parentNode.insertBefore(input, nextSibling);

      document.body.removeChild(form);
    }
  }
};
</script>

<style lang="scss">
@import "~@/assets/styles/_variables.scss";

.imi {
  position: relative;
  display: flex;
  padding: 8px 10px;
  border-radius: $border-radius;
  //border-radius: 2px;
  border: $border;
  --display-s: 10px;
  --actions-s: 30px;

  .imi-label {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    cursor: pointer;
    margin: -10px 0 0  -10px;
  }

  .imi-link {
    position: absolute;
    top: 0;
    left: 74px;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 98%;
    width: calc(100% - 78px);
    z-index: 5;
    display: none;
    padding: 1em .7em .6em;
    background-color: white;

    label {
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: .4em !important;
      justify-content: space-between;

      span {
        height: 10px;
        width: 10px;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        bottom: 0;
        margin: auto;
        display: block;
      }
    }

    input {
      padding: 8px 12px;
      margin-top: .2em;
    }

    &.open {
      display: block;
    }
  }

  .imi-preview {
    position: relative;
    margin-right: .5em;
    height: 45px;
    //min-width: var(--display-s);
    //width: var(--display-s);
    //border: $border;
    z-index: 1;
    //border-radius: 0;

    .imi__preview-box {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      overflow: hidden;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

  }

  .imi-detail {
    width: calc(100% - (var(--display-s) + var(--actions-s)));
    display: flex;
    z-index: 1;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    //padding: .2em 0 .2em .5em;
    padding: .2em 0 .2em 0;

    .imi__ttl {
      margin: 0;
      font-size: 1em;
      max-width: 90%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .imi__size {
      margin: 0;
      font-size: .9em;
    }
  }

  .imi-actions {
    position: relative;
    width: var(--actions-s);
    min-width: var(--actions-s);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 4;
    padding: .3em 0;

    .imi__delete {
      cursor: pointer;
      height: 10px;
      width: 10px;
      color: #8D8B8B;
    }

    .imi__link-open {
      cursor: pointer;
      height: 16px;
      width: 12px;
      color: #8D8B8B;
    }
  }
}

.imi__input {
  position: absolute;
  left: -9999px;
}

.imi__err {
  font-size: 1em;
  width: 100%;
  color: #e55;
}
</style>
