<template>
  <div class="notice-bar" :class="{active, error}">
    {{message || 'An issue occurred'}}
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    name: 'notice-bar',
    computed: mapGetters({
      error: 'notifications/isError',
      active: 'notifications/active',
      message: 'notifications/message'
    })
  };
</script>

<style lang="scss">
  @import "../assets/styles/variables";

  .notice-bar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100000;
    height: 38px;
    bottom: -100px;
    color: $text-main;
    background-color: rgba(0, 230, 181, 0.99);
    display: flex;
    font-weight: 400;
    font-size: .88em;
    align-items: center;
    padding-bottom: .1em;
    justify-content: center;
    width: calc(100% - 2rem);
    margin: auto;
    max-width: 380px;
    border-radius: 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18);
    transition: all .3s ease-in-out;
    transition-property: bottom, color, background-color;

    &.active {
      bottom: 27px;

      &.error {
        color: white;
        background-color: $error-glow;
      }
    }
  }
</style>
