<template>
  <div id="prel" :class="{init}">
    <div class="core">
      <div class="logo">B</div>
      <span class="ldr"></span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'pre-loader',
  computed: mapGetters({
    init : 'loaded'
  }),
};
</script>

<style lang="scss">
#prel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1290909;
  background-color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: auto;
  transition: opacity .3s ease;

  &.init {
    opacity: 0;
    pointer-events: none;
  }

  .core {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 50px;
      height: 50px;
      margin-bottom: .8rem;
      border-radius: 2px;
      line-height: 1;

      color: #fff;
      display: flex;
      font-size: 1.2rem;
      font-weight: 600;
      align-items: center;
      justify-content: center;
      background-color: #217ce8;
    }

    span.ldr {
      height: 16px;
      width: 160px;
      border-radius: 2px;
    }

    span {
      display: block;
      //background: -webkit-gradient(linear, left top, right top, color-stop(8%, #f2f5f7), color-stop(18%, #e2e9ed), color-stop(33%, #f2f5f7));
      background: linear-gradient(90deg, #d1e6f1 8%, #9ecfff 18%, #d1e6f1 33%);
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: wipe;
      animation-timing-function: linear;
      opacity: .8;
    }

    @keyframes wipe {
      0% {
        background-position: 0 0
      }

      to {
        background-position: 160px 0
      }
    }
  }
}
</style>
